/*--- Avanquest WebEasy Page Style ---*/


.cc22               { /* Common */
	border          :   0.00pt none #a0a0a0;
	clip            : rect(0.00pt,196.50pt,1.50pt,0.00pt);
	}
.cc23               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc24               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc25               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc26               { /* Common */
	font            : bold 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc27               { /* Common */
	border          :   0.00pt none #a0a0a0;
	clip            : rect(0.00pt,405.75pt,1.50pt,0.00pt);
	}
.cc28               { /* Common */
	font            : 10pt 'Calibri';
	color           : #000000;
	}
.cc29               { /* Common */
	clip            : rect(0.00pt,357.75pt,17.25pt,0.00pt);
	}
.cc30               { /* Common */
	border          :   0.00pt none #ff0000;
	}
.cc31               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc32               { /* Common */
	font            : 10pt 'Calibri';
	color           : #ffffff;
	}
img#e44             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            :  52.50pt;
	top             :  45.00pt;
	width           : 236.25pt;
	height          :  39.00pt;
	}
span#e43            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual002014.jpg) no-repeat top left;
	position        : absolute;
	left            :  41.25pt;
	top             :  88.50pt;
	width           : 697.50pt;
	height          : 140.25pt;
	}
span#e42            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003019.gif) no-repeat top left;
	position        : absolute;
	left            : 498.75pt;
	top             : 308.25pt;
	width           : 196.50pt;
	height          :   1.50pt;
	}
span#e41            { /* test_sm_images.jpg */
	background      : transparent url(test_sm_images.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 258.75pt;
	width           : 219.75pt;
	height          :  48.75pt;
	}
div#e40             {
	position        : absolute;
	left            : 499.50pt;
	top             : 316.50pt;
	width           : 192.75pt;
	height          : 588.75pt;
	}
span#e39            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003018.gif) no-repeat top left;
	position        : absolute;
	left            : 497.25pt;
	top             : 882.00pt;
	width           : 205.50pt;
	height          :  26.25pt;
	}
span#e38            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003017.jpg) no-repeat top left;
	position        : absolute;
	left            :  45.75pt;
	top             : 255.00pt;
	width           : 439.50pt;
	height          :  83.25pt;
	}
div#e37             { /* WALESTKD Grading Success... */
	position        : absolute;
	left            : 210.75pt;
	top             : 393.75pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e36             { /* Another Amazing Years to... */
	position        : absolute;
	left            : 210.75pt;
	top             : 423.00pt;
	width           : 252.75pt;
	height          :  36.00pt;
	}
div#e35             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 461.25pt;
	width           : 242.25pt;
	height          :  12.75pt;
	}
span#e34            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003016.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 490.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e33             { /* EITF European Championsh... */
	position        : absolute;
	left            : 210.75pt;
	top             : 504.75pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e32             { /* April 2017 the UKTA will... */
	position        : absolute;
	left            : 210.75pt;
	top             : 534.00pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e31             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 572.25pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e30            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003015.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 601.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e29             { /* SILVERDRAGON TAEKWONDO S... */
	position        : absolute;
	left            : 210.75pt;
	top             : 617.25pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e28             { /* Silver Dragon Taekwondo ... */
	position        : absolute;
	left            : 210.75pt;
	top             : 646.50pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e27             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 684.75pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e26            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003014.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 714.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e25             { /* BTF National Championshi... */
	position        : absolute;
	left            : 210.75pt;
	top             : 728.25pt;
	width           : 243.00pt;
	height          :  14.25pt;
	}
div#e24             { /* The British Taekwondo Fe... */
	position        : absolute;
	left            : 210.75pt;
	top             : 753.75pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e23             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 795.75pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e22            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003013.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 825.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
span#e21            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001019.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 504.75pt;
	width           : 144.75pt;
	height          :  82.50pt;
	}
span#e20            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001018.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 729.75pt;
	width           : 145.50pt;
	height          :  80.25pt;
	}
span#e19            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001014.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 395.25pt;
	width           : 145.50pt;
	height          :  85.50pt;
	}
span#e18            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001013.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 618.00pt;
	width           : 144.75pt;
	height          :  87.00pt;
	}
div#e17             { /* WALESTKD COLOUR BELT GRA... */
	position        : absolute;
	left            : 211.50pt;
	top             : 840.00pt;
	width           : 242.25pt;
	height          :  16.50pt;
	}
div#e16             { /* Congratulations to all t... */
	position        : absolute;
	left            : 211.50pt;
	top             : 865.50pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e15             { /* April 2017 | James Manni... */
	position        : absolute;
	left            : 211.50pt;
	top             : 907.50pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e14            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003008.gif) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             : 358.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
span#e13            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001011.jpg) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             : 839.25pt;
	width           : 145.50pt;
	height          :  85.50pt;
	}
span#e12            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001009.jpg) no-repeat top left;
	position        : absolute;
	left            :  43.50pt;
	top             :   0.00pt;
	width           : 196.50pt;
	height          :  30.75pt;
	}
div#e11             { /* NEWS UPDATES | COMING IN... */
	position        : absolute;
	left            :  54.00pt;
	top             : 368.25pt;
	width           : 212.25pt;
	height          :  13.50pt;
	}
div#e10             { /* SOCIAL MEDIA */
	position        : absolute;
	left            : 499.50pt;
	top             : 242.25pt;
	width           : 212.25pt;
	height          :  13.50pt;
	}
span#e9             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 317.25pt;
	top             :  54.75pt;
	width           : 357.75pt;
	height          :  17.25pt;
	}
img#e8              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 302.25pt;
	top             :  49.50pt;
	width           :  72.00pt;
	height          :  29.25pt;
	}
img#e7              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 395.25pt;
	top             :  49.50pt;
	width           :  72.00pt;
	height          :  29.25pt;
	}
img#e6              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 486.00pt;
	top             :  49.50pt;
	width           : 102.75pt;
	height          :  29.25pt;
	}
img#e5              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 600.75pt;
	top             :  49.50pt;
	width           :  84.75pt;
	height          :  29.25pt;
	}
img#e4              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 402.00pt;
	top             :  73.50pt;
	width           :  52.50pt;
	height          :   3.75pt;
	}
span#e3             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001001.jpg) no-repeat top left;
	position        : absolute;
	left            : 571.50pt;
	top             :   0.00pt;
	width           : 114.75pt;
	height          :  28.50pt;
	}
span#e2             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual003001.gif) no-repeat top left;
	position        : absolute;
	left            :  38.25pt;
	top             : 964.50pt;
	width           : 669.00pt;
	height          :  18.00pt;
	}
div#e1              { /* © 2017 fightlander.com &... */
	position        : absolute;
	left            :  39.75pt;
	top             : 966.75pt;
	width           : 316.50pt;
	height          :  15.00pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 750.00pt;
	height          : 982.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(fightlander_-_01.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
