/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc02               { /* Common */
	font            : 10pt 'Calibri';
	color           : #000000;
	}
.cc03               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc04               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc05               { /* Common */
	font            : bold 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc06               { /* Common */
	border          :   0.00pt none #a0a0a0;
	clip            : rect(0.00pt,405.75pt,1.50pt,0.00pt);
	}
.cc07               { /* Common */
	border          :   0.00pt none #a0a0a0;
	clip            : rect(0.00pt,196.50pt,1.50pt,0.00pt);
	}
.cc08               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc09               { /* Common */
	clip            : rect(0.00pt,357.75pt,17.25pt,0.00pt);
	}
.cc10               { /* Common */
	font            : 10pt 'Calibri';
	color           : #ffffff;
	}
div#e50             {
	position        : absolute;
	left            :  53.25pt;
	top             : 231.00pt;
	width           : 636.00pt;
	height          : 234.00pt;
	}
span#e49            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001026.gif) no-repeat top left;
	position        : absolute;
	left            :  52.50pt;
	top             : 444.00pt;
	width           : 639.00pt;
	height          :  22.50pt;
	}
img#e48             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            :  52.50pt;
	top             :  45.00pt;
	width           : 236.25pt;
	height          :  39.00pt;
	}
div#e47             { /* NEWS UPDATES | COMING IN... */
	position        : absolute;
	left            :  54.75pt;
	top             : 467.25pt;
	width           : 212.25pt;
	height          :  13.50pt;
	}
div#e46             { /* WALESTKD Grading Success... */
	position        : absolute;
	left            : 210.75pt;
	top             : 485.25pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e45             { /* Another Amazing Years to... */
	position        : absolute;
	left            : 210.75pt;
	top             : 514.50pt;
	width           : 252.75pt;
	height          :  36.00pt;
	}
div#e44             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 552.75pt;
	width           : 242.25pt;
	height          :  12.75pt;
	}
span#e43            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001024.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 582.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e42             { /* EITF European Championsh... */
	position        : absolute;
	left            : 210.75pt;
	top             : 596.25pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e41             { /* April 2017 the UKTA will... */
	position        : absolute;
	left            : 210.75pt;
	top             : 625.50pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e40             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 663.75pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e39            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001023.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 693.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e38             { /* SILVERDRAGON TAEKWONDO S... */
	position        : absolute;
	left            : 210.75pt;
	top             : 708.75pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e37             { /* Silver Dragon Taekwondo ... */
	position        : absolute;
	left            : 210.75pt;
	top             : 738.00pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e36             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 776.25pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e35            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001022.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 805.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e34             { /* BTF National Championshi... */
	position        : absolute;
	left            : 210.75pt;
	top             : 819.75pt;
	width           : 243.00pt;
	height          :  14.25pt;
	}
div#e33             { /* The British Taekwondo Fe... */
	position        : absolute;
	left            : 210.75pt;
	top             : 845.25pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e32             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 887.25pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e31            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001021.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 916.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e30             { /* SOCIAL MEDIA */
	position        : absolute;
	left            : 498.00pt;
	top             : 465.75pt;
	width           : 212.25pt;
	height          :  13.50pt;
	}
span#e29            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001020.gif) no-repeat top left;
	position        : absolute;
	left            : 498.75pt;
	top             : 534.75pt;
	width           : 196.50pt;
	height          :   1.50pt;
	}
span#e28            { /* test_sm_images.jpg */
	background      : transparent url(test_sm_images.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 483.00pt;
	width           : 219.75pt;
	height          :  48.75pt;
	}
span#e27            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001019.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 596.25pt;
	width           : 144.75pt;
	height          :  82.50pt;
	}
span#e26            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001018.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 821.25pt;
	width           : 145.50pt;
	height          :  80.25pt;
	}
div#e25             {
	position        : absolute;
	left            : 499.50pt;
	top             : 542.25pt;
	width           : 192.75pt;
	height          : 588.75pt;
	}
span#e24            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001017.gif) no-repeat top left;
	position        : absolute;
	left            : 497.25pt;
	top             :1107.75pt;
	width           : 205.50pt;
	height          :  26.25pt;
	}
span#e23            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001016.gif) no-repeat top left;
	position        : absolute;
	left            :  44.25pt;
	top             :1348.50pt;
	width           : 669.00pt;
	height          :  18.75pt;
	}
span#e22            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001015.jpg) no-repeat top left;
	position        : absolute;
	left            :  47.25pt;
	top             :  89.25pt;
	width           : 656.25pt;
	height          : 131.25pt;
	}
span#e21            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001014.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 486.75pt;
	width           : 145.50pt;
	height          :  85.50pt;
	}
span#e20            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001013.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 709.50pt;
	width           : 144.75pt;
	height          :  87.00pt;
	}
div#e19             { /* WALESTKD COLOUR BELT GRA... */
	position        : absolute;
	left            : 211.50pt;
	top             : 931.50pt;
	width           : 242.25pt;
	height          :  16.50pt;
	}
div#e18             { /* Congratulations to all t... */
	position        : absolute;
	left            : 211.50pt;
	top             : 957.00pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e17             { /* April 2017 | James Manni... */
	position        : absolute;
	left            : 211.50pt;
	top             : 999.00pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e16            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001012.gif) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             :1028.25pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
span#e15            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001011.jpg) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             : 930.75pt;
	width           : 145.50pt;
	height          :  85.50pt;
	}
span#e14            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001010.jpg) no-repeat top left;
	position        : absolute;
	left            :  38.25pt;
	top             :1155.75pt;
	width           : 669.75pt;
	height          : 181.50pt;
	}
span#e13            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001009.jpg) no-repeat top left;
	position        : absolute;
	left            :  43.50pt;
	top             :   0.00pt;
	width           : 196.50pt;
	height          :  30.75pt;
	}
span#e12            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 317.25pt;
	top             :  54.75pt;
	width           : 357.75pt;
	height          :  17.25pt;
	}
img#e11             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 302.25pt;
	top             :  49.50pt;
	width           :  72.00pt;
	height          :  29.25pt;
	}
img#e10             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 395.25pt;
	top             :  49.50pt;
	width           :  72.00pt;
	height          :  29.25pt;
	}
img#e9              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 486.00pt;
	top             :  49.50pt;
	width           : 102.75pt;
	height          :  29.25pt;
	}
img#e8              { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 600.75pt;
	top             :  49.50pt;
	width           :  84.75pt;
	height          :  29.25pt;
	}
div#e7              { /* TEMPLEOGUE TKD SCHOOL  C... */
	position        : absolute;
	left            : 211.50pt;
	top             :1049.25pt;
	width           : 242.25pt;
	height          :  28.50pt;
	}
div#e6              { /* After 22 years Templeogu... */
	position        : absolute;
	left            : 211.50pt;
	top             :1077.75pt;
	width           : 252.75pt;
	height          :  33.75pt;
	}
div#e5              { /* April 2017 | Admin Team ... */
	position        : absolute;
	left            : 211.50pt;
	top             :1116.75pt;
	width           : 242.25pt;
	height          :  11.25pt;
	}
span#e4             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001003.gif) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             :1146.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
span#e3             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001002.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             :1049.25pt;
	width           : 148.50pt;
	height          :  81.75pt;
	}
span#e2             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001001.jpg) no-repeat top left;
	position        : absolute;
	left            : 571.50pt;
	top             :   0.00pt;
	width           : 114.75pt;
	height          :  28.50pt;
	}
div#e1              { /* © 2017 fightlander.com &... */
	position        : absolute;
	left            :  45.75pt;
	top             :1350.75pt;
	width           : 316.50pt;
	height          :  15.00pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 750.00pt;
	height          :1500.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(fightlander_-_01.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
