/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc02               { /* Common */
	font            : 20pt 'ALL AGES';
	color           : #ffffff;
	}
.cc03               { /* Common */
	font            : 20pt 'Haettenschweiler';
	color           : #000000;
	}
.cc04               { /* Common */
	font            : 25pt 'Social Icon by BRIANQC';
	color           : #c0c0c0;
	}
.cc05               { /* Common */
	font            : 10pt 'Market Deco';
	color           : #000000;
	}
.cc06               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc07               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc08               { /* Common */
	font            : bold 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc09               { /* Common */
	border          :   0.00pt none #a0a0a0;
	clip            : rect(0.00pt,405.75pt,1.50pt,0.00pt);
	}
.cc10               { /* Common */
	border          :   0.00pt none #a0a0a0;
	clip            : rect(0.00pt,196.50pt,1.50pt,0.00pt);
	}
.cc11               { /* Common */
	border          :   0.00pt none #000000;
	}
div#e47             {
	position        : absolute;
	left            :  53.25pt;
	top             : 231.00pt;
	width           : 636.00pt;
	height          : 234.00pt;
	}
span#e46            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001021.gif) no-repeat top left;
	position        : absolute;
	left            :  52.50pt;
	top             : 444.00pt;
	width           : 639.00pt;
	height          :  22.50pt;
	}
div#e45             { /* fighTlander */
	position        : absolute;
	left            :  51.75pt;
	top             :   3.00pt;
	width           : 210.00pt;
	height          :  27.75pt;
	}
div#e44             { /* ISSUES */
	position        : absolute;
	left            : 311.25pt;
	top             :  51.75pt;
	width           :  66.00pt;
	height          :  27.75pt;
	}
div#e43             { /* VIDEOS */
	position        : absolute;
	left            : 399.75pt;
	top             :  51.75pt;
	width           :  73.50pt;
	height          :  27.75pt;
	}
div#e42             { /* CONTACT  US */
	position        : absolute;
	left            : 498.00pt;
	top             :  51.75pt;
	width           : 102.00pt;
	height          :  27.75pt;
	}
div#e41             { /* ABOUT US */
	position        : absolute;
	left            : 624.75pt;
	top             :  51.00pt;
	width           :  81.75pt;
	height          :  27.75pt;
	}
img#e40             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            :  52.50pt;
	top             :  45.00pt;
	width           : 236.25pt;
	height          :  39.00pt;
	}
div#e39             { /* q w  T  G */
	position        : absolute;
	left            : 507.00pt;
	top             :   3.00pt;
	width           : 129.75pt;
	height          :  30.75pt;
	}
div#e38             { /* NEWS UPDATES | Coming In... */
	position        : absolute;
	left            :  54.75pt;
	top             : 467.25pt;
	width           : 212.25pt;
	height          :  13.50pt;
	}
div#e37             { /* WALESTKD Grading Success... */
	position        : absolute;
	left            : 210.75pt;
	top             : 485.25pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e36             { /* Another Amazing Years to... */
	position        : absolute;
	left            : 210.75pt;
	top             : 514.50pt;
	width           : 252.75pt;
	height          :  36.00pt;
	}
div#e35             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 552.75pt;
	width           : 242.25pt;
	height          :  12.75pt;
	}
span#e34            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001019.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 582.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e33             { /* EITF European Championsh... */
	position        : absolute;
	left            : 210.75pt;
	top             : 596.25pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e32             { /* April 2017 the UKTA will... */
	position        : absolute;
	left            : 210.75pt;
	top             : 625.50pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e31             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 663.75pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e30            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001018.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 693.00pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e29             { /* SILVERDRAGON TAEKWONDO S... */
	position        : absolute;
	left            : 210.75pt;
	top             : 708.75pt;
	width           : 243.00pt;
	height          :  26.25pt;
	}
div#e28             { /* Silver Dragon Taekwondo ... */
	position        : absolute;
	left            : 210.75pt;
	top             : 738.00pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e27             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 776.25pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e26            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001017.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 805.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e25             { /* BTF National Championshi... */
	position        : absolute;
	left            : 210.75pt;
	top             : 819.75pt;
	width           : 243.00pt;
	height          :  14.25pt;
	}
div#e24             { /* The British Taekwondo Fe... */
	position        : absolute;
	left            : 210.75pt;
	top             : 845.25pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e23             { /* April 2017 | Administrat... */
	position        : absolute;
	left            : 210.75pt;
	top             : 887.25pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e22            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001016.gif) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 916.50pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
div#e21             { /* social media */
	position        : absolute;
	left            : 499.50pt;
	top             : 467.25pt;
	width           : 212.25pt;
	height          :  13.50pt;
	}
span#e20            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001015.gif) no-repeat top left;
	position        : absolute;
	left            : 498.75pt;
	top             : 534.75pt;
	width           : 196.50pt;
	height          :   1.50pt;
	}
span#e19            { /* test_sm_images.jpg */
	background      : transparent url(test_sm_images.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 483.00pt;
	width           : 219.75pt;
	height          :  48.75pt;
	}
span#e18            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001014.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 596.25pt;
	width           : 144.75pt;
	height          :  82.50pt;
	}
span#e17            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001013.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 821.25pt;
	width           : 145.50pt;
	height          :  80.25pt;
	}
div#e16             {
	position        : absolute;
	left            : 499.50pt;
	top             : 542.25pt;
	width           : 192.75pt;
	height          : 588.75pt;
	}
span#e15            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001012.gif) no-repeat top left;
	position        : absolute;
	left            : 497.25pt;
	top             :1107.00pt;
	width           : 205.50pt;
	height          :  26.25pt;
	}
img#e14             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 306.75pt;
	top             :  54.00pt;
	width           :  55.50pt;
	height          :  18.00pt;
	}
img#e13             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 395.25pt;
	top             :  54.00pt;
	width           :  60.00pt;
	height          :  18.00pt;
	}
img#e12             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 493.50pt;
	top             :  54.00pt;
	width           :  87.75pt;
	height          :  18.00pt;
	}
img#e11             { /* 01_-_fight_lander_actual... */
	position        : absolute;
	left            : 615.75pt;
	top             :  54.00pt;
	width           :  70.50pt;
	height          :  18.00pt;
	}
span#e10            { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001007.gif) no-repeat top left;
	position        : absolute;
	left            :  44.25pt;
	top             :1165.50pt;
	width           : 669.00pt;
	height          :  33.75pt;
	}
span#e9             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001006.jpg) no-repeat top left;
	position        : absolute;
	left            :  47.25pt;
	top             :  89.25pt;
	width           : 656.25pt;
	height          : 131.25pt;
	}
span#e8             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001005.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 486.75pt;
	width           : 145.50pt;
	height          :  85.50pt;
	}
span#e7             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001004.jpg) no-repeat top left;
	position        : absolute;
	left            :  54.75pt;
	top             : 709.50pt;
	width           : 144.75pt;
	height          :  87.00pt;
	}
div#e6              { /* WALESTKD COLOUR BELT GRA... */
	position        : absolute;
	left            : 211.50pt;
	top             : 931.50pt;
	width           : 242.25pt;
	height          :  16.50pt;
	}
div#e5              { /* Congratulations to all t... */
	position        : absolute;
	left            : 211.50pt;
	top             : 957.00pt;
	width           : 252.75pt;
	height          :  23.25pt;
	}
div#e4              { /* April 2017 | James Manni... */
	position        : absolute;
	left            : 211.50pt;
	top             : 999.00pt;
	width           : 243.00pt;
	height          :  12.75pt;
	}
span#e3             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001003.gif) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             :1028.25pt;
	width           : 405.75pt;
	height          :   1.50pt;
	}
span#e2             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001002.jpg) no-repeat top left;
	position        : absolute;
	left            :  55.50pt;
	top             : 930.75pt;
	width           : 145.50pt;
	height          :  85.50pt;
	}
span#e1             { /* 01_-_fight_lander_actual... */
	background      : transparent url(01_-_fight_lander_actual001001.jpg) no-repeat top left;
	position        : absolute;
	left            :  38.25pt;
	top             :1030.50pt;
	width           : 459.00pt;
	height          : 123.75pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 750.00pt;
	height          :1200.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(fightlander_-_01.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
